modelerLDA:
  container_name: modelerLDA
  image: librairy/modeler-lda:latest
  #restart: always
  environment:
      - LIBRAIRY_FS=file
      - LIBRAIRY_HOME=.
  volumes:
       - ./models:/usr/local/tomcat/models/
       - ./vocabularies:/usr/local/tomcat/vocabularies/
  external_links:
       - column-db
       - document-db
       - graph-db
       - event-bus
  networks:
       - "db"
       - "events"
networks:
  db:
    external:
      name: base_db
  events:
    external:
      name: base_events